

<div class="title-large">  <a href="https://scholar.google.be/citations?user=co7HLjcAAAAJ&hl=en" style="display: inline;"><i class="icon">school</i></a>Peer reviewed papers</div>
<div class="set lists">
    <hr class="divider">
    <div class="component list item two ">
    
        <div class="content">
            
            <span class="supporting-text">
                Akbarzadeh, B., & Maenhout, B. (2024). A two-layer heuristic for patient sequencing in the operating room theatre considering multiple resource phases. COMPUTERS & OPERATIONS RESEARCH, 170.
            </span>
        

        </div>
    
        <a href="https://www.sciencedirect.com/science/article/abs/pii/S0377221719303741"><i class="icon">history_edu</i></a>
    </div>
    <div class="component list item two ">
    
        <div class="content">
            
            <span class="supporting-text">
                Akbarzadeh, B., & Maenhout, B. (2024). A study on policy decisions to embed flexibility for reactive recovery in the planning and scheduling process in operating rooms. OMEGA-INTERNATIONAL JOURNAL OF MANAGEMENT SCIENCE, 126.
            </span>
        

        </div>
    
        <a href="https://www.sciencedirect.com/science/article/abs/pii/S0377221719303741"><i class="icon">history_edu</i></a>
    </div>

    <div class="component list item two ">
    
        <div class="content">
            
            <span class="supporting-text">
                Akbarzadeh, B., Wouters, J., Sys, C., & Maenhout, B. (2022). The scheduling of medical students at Ghent University. INFORMS JOURNAL ON APPLIED ANALYTICS, 52(4), 303–323.
            </span>
        

        </div>
    
        <a href="https://www.sciencedirect.com/science/article/abs/pii/S0377221719303741"><i class="icon">history_edu</i></a>
    </div>
    <div class="component list item two ">
    
        <div class="content">
            
            <span class="supporting-text">
                Deklerck, L., Akbarzadeh, B., & Maenhout, B. (2022). Constructing and evaluating a master surgery schedule using a service-level approach. OPERATIONAL RESEARCH, 22(4), 3663–3711.
            </span>
        

        </div>
    
        <a href="https://www.sciencedirect.com/science/article/abs/pii/S0377221719303741"><i class="icon">history_edu</i></a>
    </div>
    <div class="component list item two ">
    
        <div class="content">
            
            <span class="supporting-text">
                Akbarzadeh, B., & Maenhout, B. (2021). An exact branch-and-price approach for the medical student scheduling problem. COMPUTERS & OPERATIONS RESEARCH, 129.
            </span>
        

        </div>
    
        <a href="https://www.sciencedirect.com/science/article/abs/pii/S0377221719303741"><i class="icon">history_edu</i></a>
    </div>
    <div class="component list item two ">
    
        <div class="content">
            
            <span class="supporting-text">
                Akbarzadeh, B., & Maenhout, B. (2021). A decomposition-based heuristic procedure for the medical student scheduling problem. EUROPEAN JOURNAL OF OPERATIONAL RESEARCH, 288(1), 63–79.
            </span>
        

        </div>
    
        <a href="https://www.sciencedirect.com/science/article/abs/pii/S0377221719303741"><i class="icon">history_edu</i></a>
    </div>
    <div class="component list item two ">
    
        <div class="content">
            
            <span class="supporting-text">
                Akbarzadeh, B., Moslehi, G., Reisi-Nafchi, M., & Maenhout, B. (2020). A diving heuristic for planning and scheduling surgical cases in the operating room department with nurse re-rostering. JOURNAL OF SCHEDULING, 23(2), 265–288.
            </span>
        

        </div>
    
        <a href="https://www.sciencedirect.com/science/article/abs/pii/S0377221719303741"><i class="icon">history_edu</i></a>
    </div>
    <div class="component list item two ">
    
        <div class="content">
            
            <span class="supporting-text">
                Akbarzadeh, B., Moslehi, G., Reisi-Nafchi, M., & Maenhout, B. (2019). The re-planning and scheduling of surgical cases in the operating room department after block release time with resource rescheduling. EUROPEAN JOURNAL OF OPERATIONAL RESEARCH, 278(2), 596–614.
            </span>
        

        </div>
    
        <a href="https://www.sciencedirect.com/science/article/abs/pii/S0377221719303741"><i class="icon">history_edu</i></a>
    </div>


    <hr class="divider">

</div>