
<div class="layout showcase-components" id="cards">
  <div class="sub-showcase-components-header">Basic</div>
  <section class="showcase-cards">

    <!-- Horizontal Cards -->
    <div class="component card elevated" horizontal>
      <div class="content">
        <div class="monogram">D</div>
        <div class="text">
          <div class="header">Containers and Environment Management</div>
          <div class="subhead">Docker</div>
        </div>
      </div>
      <div class="media">
        <i class="icon"><img src="/docker.svg" class="icon"></i>
      </div>
    </div>
    
    

    <div class="component card filled" horizontal>
      <div class="content">
        <div class="monogram">SE</div>
        <div class="text">
          <div class="header">DevOps Practices</div>
          <div class="subhead">CI/CD Pipelines</div>
        </div>
      </div>
      <div class="media">
        <i class="icon">groups_3</i>
      </div>
    </div>

    <div class="component card outlined" horizontal>
      <div class="content">
        <div class="monogram">CC</div>
        <div class="text">
          <div class="header">Cloud Computing & Data Infrastructure</div>
          <div class="subhead">Cloud Platforms (AWS, GCP, Azure), Distributed Computing (Spark, Dask)</div>
        </div>
      </div>
      <div class="media">
        <i class="icon">cloud_sync</i>
      </div>
    </div>

   
  </section>
</div>
